#divT2DetailInfoView div.tabLabel {
  position: relative;
  top: -2px;
  min-width: 50px;
  max-width: 50px;
}
#divT2DetailInfoView input {
  position: relative;
  top: -3px;
  line-height: 18px;
}
#divT2DetailInfoView div.tabSum {
  position: relative;
  top: 3px;
  display: inline-block;
  min-width: 80px;
  text-align: center;
}

#divT2DetailInfoView div.tabTitle {
  text-align: center;
  font-size:9px;
  letter-spacing:-1px;
  color: #A6C9E2;
}

#divSubB, #divSubC1 {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
}